﻿{% extends 'historias/base.html' %}
{% load static %}

{% block content %}
                        <div class="pcoded-inner-content">
                            {% for historias in historiaclinica %}
                            <div class="card user-card-full">
                                    <div class="row m-l-0 m-r-0">
                                        <div class="col-sm-4 bg-c-lite-green user-profile">
                                            <div class="card-block text-center text-white">
                                                <div class="m-b-25">
                                                    <img src="{{historias.Persona.FotosPerfil.url}}" class="img-radius" alt="User-Profile-Image">
                                                </div>
                                                <h6 class="f-w-600">{{historias.Persona.NombreCompleto}}</h6>
                                                <p>{{historias.Persona.CorreoElectronico}}</p>
                                                <i class="feather icon-edit m-t-10 f-16"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="card-block">
                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacion</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Edad</p>
                                                        <h6 class="text-muted f-w-400">{{historias.Persona.Edad}}<a> </a></h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Telefono</p>
                                                        <h6 class="text-muted f-w-400">{{historias.Persona.NumTelefono}}</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Peso Actual</p>
                                                                <h6 class="text-muted f-w-400">{{historias.Persona.PesoActual}}<a> </a></h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Estatura</p>
                                                                <h6 class="text-muted f-w-400">{{historias.Persona.Estatura}}</h6>
                                                            </div>
                                                </div>    
                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Historia Clinica</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Peso Inicial</p>
                                                        <h6 class="text-muted f-w-400">{{historias.PesoInicial}}</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Peso Actual</p>
                                                        <h6 class="text-muted f-w-400">{{historias.PesoActual}}</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Fase Dieta</p>
                                                            <h6 class="text-muted f-w-400">{{historias.FaseDieta}}</h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Entrenamiento</p>
                                                            <h6 class="text-muted f-w-400">{{historias.Entrenamiento}}</h6>
                                                        </div>
                                                </div>
                                               
                                                <!-----fotos sliders----->
                                                <div class="row">
                                                    <div class="col-lg-12 col-xl-6">
                                                            <div class="card">
                                                                    <div class="card-header">
                                                                        <h5>Fotos Historia Clinica de Fotos</h5>
                                                                        <!--- pinte la opc selecionada {% if request.path == '/services/' %} active {% endif %}---->

                                                                    </div>
                                                                    <div class="card-block">
                                                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                                            <ol class="carousel-indicators">
                                                                                {% for fotos in historias.FotosHistorias.all  %}
                                                                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{fotos}}" class="{% if forloop.first %} active {% endif %}"></li>
                                                                                {% endfor %}
                                                                            </ol>
                                                                            <div class="carousel-inner" role="listbox">
                                                                            {% for fotos in historias.FotosHistorias.all  %}
                                                                                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                                                                    <img class="d-block img-fluid w-100" src="{{fotos.upload.url}}" alt="{{fotos}}">
                                                                                </div>
                                                                            {% endfor %}
                                                                                
                                                                            </div>
                                                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                <span class="sr-only">Previous</span>
                                                                            </a>
                                                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                </div>
                                                <!------end fotos sliders         ---->
                                                <!-- Image grid card start -->
                                                <div class="card">
                                                        <div class="card-header">
                                                            <h5>Fotos Historia Clinica Grid</h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                {% for fotos in historias.FotosHistorias.all %}    
                                                                    <div class="col-lg-4 col-sm-6">
                                                                        <div class="thumbnail">
                                                                            <div class="thumb">
                                                                                <a href="{{fotos.upload.url}}" data-lightbox="example-set" data-title="{{fotos}}">
                                                                                    <img src="{{fotos.upload.url}}" alt="" class="img-fluid img-thumbnail">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- END Image grid card start -->

                                                <!-----multiple grid -->
                                                <div class="card">
                                                        <div class="card-header">
                                                            <h5>Multiple Images Or Image Set (Light Box 2)</h5>
    
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                {% for fotos in historias.FotosHistorias.all %}    
                                                                    <div class="col-xl-2 col-lg-3 col-sm-3 col-xs-12">
                                                                        <a href="{{fotos.upload.url}}" data-lightbox="example-set">
                                                                            <img src="{{fotos.upload.url}}" class="img-fluid m-b-10" alt="">
                                                                        </a>
                                                                    </div>      
                                                                {% endfor %}
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!------end multiple grid-->

                                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook"><i class="feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter"><i class="feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><i class="feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            {% endfor %}

                        </div>
{% endblock%}
                        
                        
